.Button {
	white-space: nowrap;
	user-select: none;
}

.Menu > div {
	display: flex;
	gap: 0.5rem;
	flex-direction: column;
	align-items: flex-start;
	padding: 0.5rem 1rem;
}

.Time, .Date {
	margin: 0;
}

.Time {
	font-size: 1.5rem;
}

.Date {
	color: var(--foreground-color-b);
}