.Menu > div {
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 1rem;
}

.Menu > div > svg {
	width: auto;
	height: 1rem;
}

.Menu > div > p {
	margin: 0;
	font-size: 1rem;
}