:root {
	--body-font-family: "Outfit", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	--mono-font-family: "Roboto Mono", source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

@font-face {
	font-family: "Outfit";
	src: url("/public/assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
	font-display: swap;
}

@font-face {
	font-family: "Roboto Mono";
	src: url("/public/assets/fonts/roboto-mono/RobotoMono-VariableFont_wght.ttf");
	font-display: swap;
}