/* Firefox */
* {
	scrollbar-color: var(--scrollbar-color) transparent;
	scrollbar-width: thin;
}

/* Chrome, Safari */
*::-webkit-scrollbar {
	width: 1.25rem;
	height: 1.25rem;
}

*::-webkit-scrollbar-track {
	background: none;
}

*::-webkit-scrollbar-thumb {
	border-radius: 9999px;
	border: 5px solid transparent;
	background-color: var(--scrollbar-color);
	background-clip: padding-box;
	backdrop-filter: invert(100%);
	transition: 200ms ease-in-out;
	z-index: 1;
}

*::-webkit-scrollbar-corner {
	background-color: transparent;
}