:root {
	--white-a: hsl(210, 54%, 95%);
	--white-b: hsl(210, 45%, 90%);
	--pink-a: hsl(308, 100%, 81%);
	--pink-b: hsl(308, 85%, 68%);
	--yellow-a: hsl(41, 99%, 67%);
	--yellow-b: hsl(29, 100%, 63%);
	--red-a: hsl(0, 100%, 71%);
	--red-b: hsl(360, 82%, 63%);
	--red-c: hsl(360, 64%, 55%);
	--red-d: hsl(360, 46%, 47%);
	--light-blue-a: hsl(191, 96%, 63%);
	--light-blue-b: hsl(191, 92%, 46%);
	--green-a: hsl(164, 76%, 47%);
	--green-b: hsl(165, 83%, 37%);
	--cyan-a: hsl(180, 100%, 41%);
	--cyan-b: hsl(180, 99%, 32%);
	--blue-a: hsl(213, 100%, 66%);
	--blue-b: hsl(210, 73%, 53%);
	--purple-a: hsl(260, 68%, 48%);
	--purple-b: hsl(251, 66%, 36%);
	--grey-a: hsl(210, 36%, 85%);
	--grey-aa: hsl(210, 27%, 72.5%);
	--grey-b: hsl(210, 18%, 60%);
	--dark-grey-a: hsl(212, 14%, 40%);
	--dark-grey-b: hsl(212, 29%, 19%);
	--dark-grey-c: hsl(212, 29%, 15%);
	--dark-grey-ca: hsl(212, 27%, 12%);
	--dark-grey-d: hsl(212, 14%, 10%);
	--dark-grey-e: hsl(212, 12%, 8%);
	--dark-grey-f: hsl(212, 10%, 6%);

	--foreground-color-a: var(--white-a);
	--foreground-color-b: var(--grey-a);
	--foreground-color-c: var(--grey-b);

	--background-color-a: hsl(var(--background-color-a-hsl));
	--background-color-b: hsl(var(--background-color-c-hsl));
	--background-color-ba: var(--dark-grey-ca);
	--background-color-c: var(--dark-grey-d);
	--background-color-d: var(--dark-grey-e);

	--background-color-a-hsl: 212, 29%, 19%; 
	--background-color-c-hsl: 212, 29%, 15%;

	--scrollbar-color: hsla(211, 29%, 40%, 25%);

	--window-shadow-size: 0.3rem;
	--window-shadow-opacity: 35%;
	--window-shadow-spread: 3;
	--window-box-shadow: calc(var(--window-shadow-size) * -1) var(--window-shadow-size)
		calc(var(--window-shadow-size) * var(--window-shadow-spread)) 0px
		rgba(0, 0, 0, var(--window-shadow-opacity));
}