.Container {
	position: relative;
	width: 100%;
	height: 100%;
}

.File-button, .Folder-button {
	display: flex;
	gap: 0.25rem;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: calc(var(--scale) * 7.5);
	height: calc(var(--scale) * 7.5);
	padding: 0.5rem;
	background: none;
	border: none;
	border-radius: 0.5rem;
	outline: none;
	cursor: pointer;
	transition: background-color 100ms ease-in-out;
}

.File-button[data-selected=true],
.Folder-button[data-selected=true] {
	background-color: hsla(var(--background-color-a-hsl), 40%) !important;
}

.File-button:hover,
.Folder-button:hover,
.File-button:focus-visible,
.Folder-button:focus-visible {
	background-color: hsla(var(--background-color-a-hsl), 20%);
}

.File-button p, .Folder-button p {
	max-width: 100%;
	margin: 0;
	word-wrap: break-word;
}

.File-icon div, .Folder-icon div {
	width: 100%;
	height: 100%;
}

.File-icon svg, .Folder-icon svg {
	width: 50%;
	height: auto;
	aspect-ratio: 1;
}

.Selection-rect {
	opacity: 25%;
	position: absolute;
	border-radius: 0.25rem;
	background-color: var(--blue-b);
	border: 0.25rem solid var(--blue-a);
}