.Image-preview {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	overflow: hidden;
}

.Image-preview > * {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.Image-preview > img {
	height: auto;
	max-height: 100%;
	border-radius: 0.5rem;
}