# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/packages/*/node_modules
/packages/apps/*/node_modules

# testing

# production
/dist
/packages/*/dist
/packages/apps/*/dist

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.ini

/tmp
/public/config/tree.json