.Container {
	--position-x: 0;
	--position-y: 0;

	position: fixed;
	top: calc(var(--position-y) * 1px);
	left: calc(var(--position-x) * 1px);
}

.Container > * {
	background: var(--background-color-a);
	border-radius: 0.5rem;
	box-shadow: var(--window-box-shadow);
}