.FileExplorer {
	--header-height: 3.5rem;
	--sidebar-width: 10rem;
	--footer-height: 1.75rem;
	--scale: 1.15rem;

	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.Header {
	display: flex;
	gap: 1rem;
	align-items: center;
	width: 100%;
	height: var(--header-height);
	padding: 1rem;
	background-color: var(--background-color-0);
}

.IconButton {
	--color: var(--foreground-color-0);

	position: relative;
	height: 1.25rem;
	width: auto;
	padding: 0;
	background: none;
	border: none;
	outline: none;
	aspect-ratio: 1;
	cursor: pointer;
}

.IconButton::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0%);
	border-radius: var(--border-radius-99);
	transform: scale(100%);
	transform-origin: center;
	transition: all 200ms ease-in-out;
}

.IconButton:hover::after, .IconButton:focus-visible::after {
	background-color: rgba(255, 255, 255, 10%);
	transform: scale(150%);
}

.IconButton:disabled {
	opacity: 0.75;
}

.IconButton svg {
	height: 100%;
}

.IconButton svg path {
	fill: var(--color);
	transition: fill 100ms ease-in-out;
}

.PathInput {
	flex: 1;
	padding: 0.25rem 0.5rem;
	background-color: var(--background-color-2);
	border: none;
	border-radius: var(--border-radius-1);
	outline: none;
	font-family: inherit;
	font-size: inherit;
}

.Body {
	flex: 1;
	display: flex;
	width: 100%;
	height: calc(100% - var(--header-height));
	background-color: var(--background-color-2);
}

.Sidebar {
	display: flex;
	gap: 0.25rem;
	flex-direction: column;
	min-width: calc(var(--sidebar-width) / 2);
	width: var(--sidebar-width);
	height: 100%;
	max-width: 50%;
	padding: 0.5rem;
	background-color: var(--background-color-1);
	resize: horizontal;
	overflow: hidden;
}

.NavButton {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	width: 100%;
	padding: 0.5rem;
	background: none;
	border: none;
	border-radius: var(--border-radius-1);
	outline: none;
	cursor: pointer;
	transition: background-color 100ms ease-in-out;
}

.NavButton:hover, .NavButton:focus-visible {
	background-color: color-mix(in srgb, var(--background-color-0) 75%, transparent);
}

.NavButton svg {
	height: 1.35rem;
	aspect-ratio: 1;
}

.Main {
	--scale: inherit !important;

	position: relative;
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	height: 100%;
	padding: 0.5rem;
	padding-bottom: calc(0.5rem + var(--footer-height));
	overflow: auto;
}

.Footer {
	position: absolute;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	bottom: 0;
	left: 0;
	width: 100%;
	height: var(--footer-height);
	padding: 0 0.75rem;
	border-top: 0.25rem solid var(--background-color-0);
	background-color: var(--background-color-2);
}

.Footer p {
	margin: 0;
	font-size: 0.875em;
}

.Selector {
	--footer-height: 4rem;
}