.Header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	height: var(--header-height);
	padding: 0.75rem 1rem;
	background-color: var(--background-color-1);
}

.Logo {
	display: flex;
	gap: 0.5rem;
	width: auto;
	justify-content: flex-start;
	align-items: center;
	color: var(--foreground-color-1);
	text-decoration: none;
	transition: color var(--transition-duration-1) var(--ease-in-out-default);
	user-select: none;
}

.Logo:hover {
	color: var(--foreground-color-0);
}

.Logo div,
.Logo svg {
	width: auto;
	height: 2.5rem;
	color: inherit;
	aspect-ratio: 1;
}

.Logo svg {
	object-fit: contain;
}

.Logo svg * {
	color: inherit;
	fill: currentColor;
}

.Logo > h1 {
	margin: 0;
	color: inherit;
	font-size: 1.25rem;
	font-weight: 600;
	letter-spacing: normal;
}

.ExitButton {
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--foreground-color-1);
	background: none !important;
	font-size: 1rem;
	transition: color var(--transition-duration-1) var(--ease-in-out-default);
}

.ExitButton:hover {
	color: var(--foreground-color-0);
}

.ExitButton > svg {
	height: 1.25rem;
	color: inherit;
}

.ExitButton > svg * {
	color: inherit;
}