.AppIcon {
	opacity: 1;
	position: relative;
	width: var(--taskbar-height);
	height: var(--taskbar-height);
	aspect-ratio: 1;
	animation: appear var(--transition-duration-0) ease-out forwards;
}

.AppIcon svg {
	filter: var(--svg-drop-shadow-0);
	transform: scale(100%);
	transform-origin: center;
	transition: transform var(--transition-duration-1) ease-out var(--transition-duration-0);
}

.AppIcon:not(.Active):hover svg,
.AppIcon:not(.Active):focus-visible svg {
	transform: scale(125%);
}

.AppIcon.Hidden {
	animation: disappear var(--transition-duration-2)var(--ease-in-out-default) forwards;
	pointer-events: none;
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes disappear {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 0;
		margin-right: 0;
	}
	100% {
		opacity: 0;
		margin-right: calc(var(--taskbar-height) * -1);
	}
}

.AppIcon::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 90%;
	height: 0.15rem;
	background-color: var(--foreground-color-0);
	transition: height var(--transition-duration-1)var(--ease-in-out-default), width var(--transition-duration-1) var(--ease-in-out-default);
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

.AppIcon:hover::after,
.AppIcon:focus-visible::after {
	width: 100%;
}

.AppIcon:not(.Active)::after {
	height: 0;
}