.Terminal {
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
	overflow-y: auto;
	height: 100%;
}

.Terminal * {
	font-family: var(--mono-font-family);
}

.Terminal p {
	margin: 0;
}

.Prefix {
	width: max-content;
	white-space: nowrap;
}

.Input, .Output {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	line-height: 1.25rem;
	font-size: 1rem;
	text-align: start;
}

.Input input {
	width: 100%;
	height: 100%;
	background: none;
	border: none;
	outline: none;
	font-size: inherit;
	margin-left: 0.45rem;
}

.Input label {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	cursor: text;
}