:root {
	--task-bar-height: 3rem;
	--task-bar-color: rgba(0, 0, 0, 75%);
	--task-bar-button-hover-color: rgba(255, 255, 255, 5%);
}

.Task-bar {
	position: fixed;
	display: flex;
	justify-content: space-between;
	bottom: 0;
	left: 0;
	width: 100%;
	height: var(--task-bar-height);
	background-color: var(--task-bar-color);
	backdrop-filter: blur(15px);
	z-index: 10;
}

.Task-bar button {
	display: flex;
	align-items: center;
	color: var(--foreground-color-a);
	background: none;
	cursor: pointer;
	border: none;
	outline: none;
	transition: background-color 100ms ease-in-out;
}

.Task-bar button:hover {
	background-color: var(--task-bar-button-hover-color);
}

.Program-icons {
	display: flex;
	align-items: center;
	height: 100%;
	margin-left: 0.5rem;
}

.Program-icons > * {
	height: 100%;
	padding: 0.75rem;
}

.Program-icons > * > svg {
	height: 1.25rem;
}

.Program-icons > * > div,
.Program-icons > * > div > div,
.Program-icons > * > div > div > svg {
	height: 100%;
	width: auto;
}

.App-icon {
	position: relative;
}

.App-icon::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 90%;
	height: 0.15rem;
	background-color: var(--grey-a);
	transition: height 200ms ease-in-out, width 200ms ease-in-out;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

.App-icon:hover::after {
	width: 100%;
}

.App-icon:not(.Active)::after {
	height: 0;
}

.Util-icons {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}

.Util-icons > * {
	height: 100%;
}

.Util-icons > * > svg {
	height: 1rem;
}

#desktop-button {
	border-left: 1px solid rgba(255, 255, 255, 50%);
	height: 100%;
	width: 0.5rem;
	padding: 0;
	margin-left: 1rem;
}