.Container {
	padding: 0.5rem;
	border-top-left-radius: 0 !important;
	background-color: var(--background-color-b) !important;
}

.Button {
	display: flex;
	gap: 0.75rem;
	justify-content: space-between;
	width: 100%;
	padding: 0.25rem 0.5rem;
	background: none;
	border: none;
	border-radius: 0.5rem;
	outline: none;
	font-size: 0.875rem;
	text-align: start;
	white-space: nowrap;
	cursor: pointer;
}

.Button:hover, .Button:focus-visible {
	background-color: hsla(var(--background-color-a-hsl), 75%);
}

.Label, .Shortcut {
	margin: 0;
}

.Shortcut {
	color: var(--foreground-color-b);
}