.Folder-link-icon {
	position: absolute;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	top: 0;
	left: 0;
	width: 92.5%;
	height: 87.5%;
}

.Folder-link-icon svg {
	width: 55%;
	height: auto;
	aspect-ratio: 1;
}

.Folder-link-icon svg * {
	fill: var(--background-color-b);
}