:root {
	--task-bar-height: 3rem;
	--task-bar-color: rgba(0, 0, 0, 75%);
	--task-bar-button-hover-color: rgba(255, 255, 255, 5%);
}

.Task-bar {
	position: fixed;
	display: flex;
	justify-content: space-between;
	bottom: 0;
	left: 0;
	width: 100%;
	height: var(--task-bar-height);
	background-color: var(--task-bar-color);
}

.Task-bar button {
	display: flex;
	align-items: center;
	color: var(--foreground-color-a);
	background: none;
	cursor: pointer;
	border: none;
	outline: none;
}

.Task-bar button:hover {
	background-color: var(--task-bar-button-hover-color);
}

.Program-icons {
	display: flex;
	align-items: center;
	height: 100%;
	margin-left: 0.5rem;
}

.Program-icons > * {
	height: 100%;
	padding: 0.75rem;
}

.Program-icons > * > svg {
	height: 1.25rem;
}

.Program-icons > * > div,
.Program-icons > * > div > div,
.Program-icons > * > div > div > svg {
	height: 100%;
	width: auto;
}

.Util-icons {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}

.Util-icons > * {
	height: 100%;
}

.Util-icons > * > svg {
	height: 1rem;
}

#desktop-button {
	border-left: 1px solid rgba(255, 255, 255, 50%);
	height: 100%;
	width: 0.5rem;
	padding: 0;
	margin-left: 1rem;
}