.MediaViewer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	padding: 2rem;
}  

.MediaViewer img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}  

.AudioViewer {
	width: 70%;
	margin: 0.5rem auto 0;
}

.AudioViewer .AudioControls {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.AudioControls button {
	margin: 1rem;
	padding: 0.5rem 0;
	width: 20%;
	border-radius: var(--border-radius-1);
}

.AudioControls > .Playing {
	background-color: var(--purple-0);
	color: var(--white-0);
}

.AudioControls > :not(.Playing) {
	background-color: var(--red-0);
	color: var(--white-0);
}

.VideoViewer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 2rem 0;
}

.VideoViewer h3 {
	margin: 0;
}

.VideoViewer iframe {
	margin-top: 1.5rem;
}

.VideoPlayer {
	width: 100%;
	height: auto;
	max-width: 90%;
	max-height: 90%;
}