.Container {
	position: relative;
	width: 15rem;
	max-width: 100%;
	min-height: 2rem;
	max-height: 100%;
	background-color: var(--background-color-3);
}

.Fill {
	--fill: 0%;

	position: absolute;
	left: 0;
	top: 0;
	width: var(--fill);
	min-width: 1px;
	height: 100%;
	background-color: var(--blue-0);
}