.StandaloneView {
	--header-height: 2.5rem;

	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.StandaloneWindow {
	position: relative;
	width: 100%;
	height: calc(100% - var(--header-height));
	overflow: hidden;
}