.Container {
	--scale: 1rem;
	
	position: relative;
	width: 100%;
	height: 100%;
}

.File-button, .Folder-button {
	--gap: 0.25rem;

	display: flex;
	gap: var(--gap);
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: calc(var(--scale) * 7.5);
	height: calc(var(--scale) * 7.5);
	padding: 0.5rem;
	background: none;
	border: none;
	border-radius: var(--border-radius-1);
	outline: none;
	cursor: pointer;
	transition: background-color 100ms ease-in-out;
}

.File-button[data-selected=true],
.Folder-button[data-selected=true] {
	background-color: color-mix(in srgb, var(--background-color-0) 40%, transparent) !important;
}

.File-button:hover,
.Folder-button:hover,
.File-button:focus-visible,
.Folder-button:focus-visible {
	background-color: color-mix(in srgb, var(--background-color-0) 20%, transparent);
}

.File-button p, .Folder-button p {
	max-width: 100%;
	margin: 0;
	word-wrap: break-word;
}

.File-icon, .Folder-icon {
	max-height: calc(100% - 1rem - var(--gap));
	border-radius: inherit;
}

.File-icon div, .Folder-icon div {
	width: 100%;
	height: 100%;
	border-radius: inherit;
	overflow: hidden;
}

.File-icon svg, .Folder-icon svg {
	width: 50%;
	height: auto;
	aspect-ratio: 1;
}

.Selection-rect {
	opacity: 25%;
	position: absolute;
	border-radius: var(--border-radius-0);
	background-color: var(--blue-b);
	border: 0.25rem solid var(--blue-0);
}