.Container {
	position: relative;
}

.Button {
	display: block;
	width: auto;
	height: 100%;
	padding: 0 0.5rem;
	background: none;
	border: none;
	outline: none;
	font-size: 0.85rem;
	cursor: pointer;
}

.Button:hover {
	background-color: rgba(255, 255, 255, 5%);
}

.Dropdown {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: var(--background-color-b);
}

.Dropdown > button {
	display: flex;
	gap: 0.75rem;
	justify-content: space-between;
	width: 100%;
	padding: 0.125rem 0.4rem;
	background: none;
	border: none;
	outline: none;
	font-size: 0.8rem;
	text-align: start;
	white-space: nowrap;
	cursor: pointer;
}

.Dropdown > button:hover {
	background-color: rgba(255, 255, 255, 5%);
}

.Dropdown > button > p {
	margin: 0;
}

.Shortcut {
	color: var(--foreground-color-b);
}