.Container {
	--tabs-width: 10rem;

	flex: 1;
	display: flex;
	width: 100%;
	height: 100%;
	background-color: var(--background-color-c);
}

.Tabs {
	display: flex;
	gap: 0.25rem;
	flex-direction: column;
	min-width: calc(var(--tabs-width) / 2);
	width: var(--tabs-width);
	height: 100%;
	max-width: 50%;
	padding: 0.5rem;
	background-color: var(--background-color-b);
	resize: horizontal;
	overflow: hidden;
}

.Tab-button {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	width: 100%;
	padding: 0.5rem;
	background: none;
	border: none;
	border-radius: 0.5rem;
	outline: none;
	cursor: pointer;
	transition: background-color 100ms ease-in-out;
}

.Tab-button:hover, .Tab-button:focus-visible {
	background-color: rgba(255, 255, 255, 10%);
}

.Tab-button svg {
	height: 1.35rem;
	aspect-ratio: 1;
}

.Tab-panel {
	flex: 1;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: flex-start;
	height: 100%;
	padding: 0.5rem 1rem;
	overflow: auto;
}

.Option {
	text-align: start;
	max-width: 100%;
}

.Option > .Label {
	color: var(--foreground-color-a);
}

.Option > p {
	color: var(--foreground-color-c);
}

.Input {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap;
}

.Input > label {
	flex: 1;
	display: flex;
}

.Image-select {
	min-width: 10rem;
	max-width: 100%;
}

.Image-select > input {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
}

.Image-select > input:checked + img {
	outline: 0.25rem solid var(--foreground-color-a);
}

.Image-select > img {
	width: 100%;
	height: 100%;
	border-radius: 0.5rem;
	cursor: pointer;
}

.Button {
	--hover-color: var(--background-color-b);

	padding: 0.5rem 1rem;
	color: var(--foreground-color-a);
	background-color: var(--background-color-a);
	border: none;
	border-radius: 0.5rem;
	outline: none;
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: 0.05rem;
	transition: background-color 100ms ease-in-out;
	cursor: pointer;
}

.Button:hover, .Button:focus-visible {
	background-color: var(--hover-color);
}

.Button-red {
	--hover-color: var(--red-b);

	color: var(--background-color-a);
	background-color: var(--red-a);
}